body {
    margin:           0px;
    overflow:         hidden;
    background-color: #000000;

    user-select:         none;
    -ms-user-select:     none;
    -moz-user-select:    none;
    -webkit-user-select: none;

    font-smoothing:         antialiased;
    -ms-font-smoothing:     antialiased;
    -moz-font-smoothing:    antialiased;
    -webkit-font-smoothing: antialiased;
}

header {
    position:         fixed;
    top:              0px;
    left:             0px;
    width:            100%;
    height:           22px;
    background-image: URL("skins/default/imgs/panel_bg.png");
    background-size:  100% 100%;
    box-shadow:       0px 0px 4px #000;
    z-index:          3;
}

footer {
    position:         fixed;
    bottom:           0px;
    left:             0px;
    width:            100%;
    height:           22px;
    background-image: URL("skins/default/imgs/panel_bg.png");
    background-size:  100% 100%;
    box-shadow:       0px 0px 4px #000;
    z-index:          3;
}

ul {
    margin-top:   10px;
    margin-left:  0px;
    margin-right: 0px;
    padding:      0px;
}

li {
    cursor:        default;
    margin-left:   0px;
    width:         150px;
    height:        25px;
    padding-left:  15px;
    padding-right: 5px;
}

img.dockIcon {
    width:       70px;
    height:      70px;
    margin-top:  4px;
    margin-left: 12px;
    display:     inline;

    transform:         translateY(-50px);
    -ms-transform:     translateY(-50px);
    -moz-transform:    translateY(-50px);
    -webkit-transform: translateY(-50px);

    transition:         0.4s;
    -ms-transition:     0.4s;
    -moz-transition:    0.4s;
    -webkit-transition: 0.4s;
}

img.dockIcon:hover {
    transform:         rotateX(15deg) rotateY(-10deg) scale(1.6) translateY(-50px);
    -ms-transform:     rotateX(15deg) rotateY(-10deg) scale(1.6) translateY(-50px);
    -moz-transform:    rotateX(15deg) rotateY(-10deg) scale(1.6) translateY(-50px);
    -webkit-transform: rotateX(15deg) rotateY(-10deg) scale(1.6) translateY(-50px);

    transition:         0.3s;
    -ms-transition:     0.3s;
    -moz-transition:    0.3s;
    -webkit-transition: 0.3s;
}

img.dockIcon:active {
    transform:         rotateX(-15deg) rotateY(10deg) scale(1.3) translateY(-45px);
    -ms-transform:     rotateX(-15deg) rotateY(10deg) scale(1.3) translateY(-45px);
    -moz-transform:    rotateX(-15deg) rotateY(10deg) scale(1.3) translateY(-45px);
    -webkit-transform: rotateX(-15deg) rotateY(10deg) scale(1.3) translateY(-45px);

    transition:         0.0s;
    -ms-transition:     0.0s;
    -moz-transition:    0.0s;
    -webkit-transition: 0.0s;
}

button.minButton {
    width:            30px;
    height:           100%;
    float:            right;
    box-shadow:       none;
    border:           none;
    border-radius:    0px;
    background-color: transparent;
}

button.maxButton {
    width:            30px;
    height:           100%;
    float:            right;
    box-shadow:       none;
    border:           none;
    border-radius:    0px;
    background-color: transparent;
}

button.closeButton {
    width:            30px;
    height:           100%;
    float:            right;
    box-shadow:       none;
    background-color: darkred;
    border:           none;
    border-radius:    0px;
}

span.titleBarText {
    float:       left;
    margin-left: 12px;
    font-size:   15px;
    position:    relative;
    top:         -2px;

    animation:         titleFade 1.0s;
    -webkit-animation: titleFade 1.0s;
    -moz-animation:    titleFade 1.0s;
    -ms-animation:     titleFade 1.0s;
}

img.appTitleBarIcon {
    width:        20px;
    height:       20px;
    position:     relative;
    top:          6px;
    margin-right: 10px;
}

span.titleBar {
    cursor:              move;
    position:            absolute;
    margin-top:          10px;
    height:              26px;
    width:               100%;
    margin-top:          0px;
    border-bottom-style: solid;
    border-width:        1px;
    border-color:        #000;
    background-image:    URL("skins/default/imgs/panel_bg.png");
    background-size:     100% 100%;
}

textarea {
    border:      none;
    outline:     none;
    padding:     10px;
    font-family: eXastumDefault;
}

textarea.cli {
    width:            calc(100% - 20px);
    height:           calc(100% - 51px);
    margin-top:       31px;
    background-color: #000000;
    color:            #e3e3e3;
    position:         absolute;
    font-size:        12px;
    resize:           none;
}

input {
    border:      none;
    outline:     none;
    font-family: eXastumDefault;
}

input.text {
    background-image: URL("ui/backing_down.png");
    background-size:  100% 100%;
    text-shadow:      1px 1px 3px #000000;
    box-shadow:       inset 0px 0px 8px #000000;
    border-radius:    20px;
    padding-left:     8px;
    padding-right:    8px;
    padding-top:      2px;
    padding-bottom:   2px;
    color:            #838383;
    border-width:     1px;
    border-style:     inset;
}

iframe {
    border: none;
}

div.window {
    max-width:                  100%;
    max-height:                 100%;
    position:                   absolute;
    z-index:                    9;
    overflow:                   hidden;
    box-shadow:                 0px 0px 10px #000000;
    background-color:           rgba(0, 0, 0, 0.8);
    border-style:               solid;
    border-width:               1px;
    border-color:               #000;
    border-top-left-radius:     8px;
    border-top-right-radius:    8px;

    animation:         window 0.4s;
    -ms-animation:     window 0.4s;
    -moz-animation:    window 0.4s;
    -webkit-animation: window 0.4s;

    transition:         0.4s box-shadow;
    -ms-transition:     0.4s box-shadow;
    -moz-transition:    0.4s box-shadow;
    -webkit-transition: 0.4s box-shadow;
}

div.window:hover {
    z-index:    10;
    box-shadow: 0px 0px 4px #000000;

    transition:         0.4s box-shadow;
    -ms-transition:     0.4s box-shadow;
    -moz-transition:    0.4s box-shadow;
    -webkit-transition: 0.4s box-shadow;
}

div.windowOverlay {
    display:  block;
    width:    100%;
    height:   calc(100% - 27px);
    top:      27px;
    position: absolute;
}

div.actionButtons {
    position: absolute;
    top:      0px;
    right:    0px;
    height:   26px;
}

span.workTab {
    font-size:        14px;
    background-image: URL("ui/backing_down.png");
    background-size:  100% 100%;
    padding-left:     8px;
    padding-right:    8px;
    border-radius:    20px;
    box-shadow:       inset 0px 0px 8px #000000;
    text-shadow:      0px 0px 8px #000000;
    margin-left:      6px;
    cursor:           pointer;
}

div.sysDialog {
    position:                   absolute;
    overflow:                   auto;
    z-index:                    11;
    box-shadow:                 0px 0px 25px #000000;
    background-color:           rgba(0,0,0,0.8);
    border-left-style:          solid;
    border-right-style:         solid;
    border-width:               1px;
    border-color:               #fff;
    border-top-left-radius:     20px;
    border-top-right-radius:    20px;
    border-bottom-left-radius:  16px;
    border-bottom-right-radius: 16px;

    transition:         0.4s box-shadow;
    -ms-transition:     0.4s box-shadow;
    -moz-transition:    0.4s box-shadow;
    -webkit-transition: 0.4s box-shadow;
}

div.sysDialogUrgent {
    position:                   absolute;
    overflow:                   auto;
    z-index:                    11;
    box-shadow:                 0px 0px 25px #000000;
    background-color:           rgba(0,0,0,0.8);
    border-left-style:          solid;
    border-right-style:         solid;
    border-width:               1px;
    border-color:               #fff;
    border-top-left-radius:     20px;
    border-top-right-radius:    20px;
    border-bottom-left-radius:  16px;
    border-bottom-right-radius: 16px;

    animation:         sysDialog 1s;
    -ms-animation:     sysDialog 1s;
    -moz-animation:    sysDialog 1s;
    -webkit-animation: sysDialog 1s;

    animation-iteration-count:         infinite;
    -ms-animation-iteration-count:     infinite;
    -moz-animation-iteration-count:    infinite;
    -webkit-animation-iteration-count: infinite;

    transition:         0.4s box-shadow;
    -ms-transition:     0.4s box-shadow;
    -moz-transition:    0.4s box-shadow;
    -webkit-transition: 0.4s box-shadow;
}

span.sysDialog {
    position:      absolute;
    font-size:     16px;
    margin-top:    40px;
    margin-left:   10px;
    margin-right:  10px;
    margin-bottom: 10px;
}

iframe.app {
    width:            100%;
    height:           calc(100% - 27px);
    margin-top:       27px;
    margin-bottom:    0px;
    margin-left:      0px;
    margin-right:     0px;
    background-color: #000000;
    color:            #e3e3e3;
    position:         absolute;
    font-family:      sans-serif;
    resize:           none;
}

img.barIcon {
    height:         18px;
    width:          18px;
    margin-top:     1px;
    margin-left:    5px;
    opacity:        0.7;
    cursor:         pointer;
}

img.barIcon:hover {
    opacity: 1.0;
}

#scrSavLogo {
    position: fixed;
    top:      0px;
    left:     0px;
    -moz-transition: 0.6s;
}

#screenSaver {
    background-color: #000;
    position:         fixed;
    top:              0px;
    left:             0px;
    z-index:          100;
    width:            100%;
    height:           100%;
    cursor:           none;
    display:          none;

    -moz-animation: fade 0.6s;
}

#infoBar {
    margin-top:  1px;
    width:       120px;
    height:      12px;
    margin-left: 4px;
}

#sysTasks {
    position: fixed;
    top:      2px;
    left:     128px;
    right:    200px;
    overflow: hidden;
}

#sysTray {
    font-family:  sans-serif;
    font-size:    16px;
    position:     fixed;
    right:        6px;
    top:          1px;
}

#sysTray span {
    margin-right: 4px;
    opacity: 0.7;
}

#sysTray span:hover {
    cursor:  pointer;
    opacity: 1.0;
}

#clock {
    margin-right: 0px  !important;
    opacity:      1.0  !important;
    font-size:    14px !important;
    font-family:  monospace !important;
}

#buildNum {
    font-size:   14px;
    position:    fixed;
    bottom:      36px;
    right:       15px;
    text-shadow: 1px 1px 3px #000000;
    text-align:  center;
}

#menuButton {
    position: fixed;
    z-index:  20;
    height:   23px;
}

#desktop {
    position:         fixed;
    top:              0px;
    left:             0px;
    right:            0px;
    bottom:           0px;
    margin:           0px;
    overflow:         hidden;
    background-color: transparent;
}

#setup {
    display: none;
}

#setupSysAppList {
    height: 140px;
    overflow-y: scroll;
}

#appMenuName {
    margin-left: 10px;
    margin-top:  10px;
    display:     block;
    width:       180px;
    font-size:   18px;
    text-shadow: 2px 2px 4px #000;
}

#appMenuDev {
    margin-left: 10px;
    margin-top:  10px;
    display:     block;
    width:       180px;
    font-size:   14px;
    text-shadow: 2px 2px 4px #000;
}

#appMenuDesc {
    margin-left: 10px;
    margin-top:  10px;
    display:     block;
    width:       180px;
    font-size:   12px;
    text-shadow: 2px 2px 4px #000;
}

#appMenuIcon {
    margin-left: 40px;
    margin-top:  10px;
    width:       120px;
    height:      120px;
}

#appMenuDetails {
    float:  right;
    width:  200px;
    height: 100%;
}

#wallpaper {
    z-index:  -1;
    position: fixed;
    top:      0px;
    bottom:   0px;
    left:     0px;
    right:    0px;
    margin:   0px;
    width:    100%;
    height:   100%;
    overflow: hidden;
}

#windowLayer {
    z-index:          1;
    position:         fixed;
    top:              0px;
    bottom:           0px;
    left:             0px;
    right:            0px;
    margin:           0px;
    width:            100%;
    height:           100%;
    overflow:         hidden;
    background-color: transparent;
}

span.rhandle {
    position: absolute;
    bottom:   0px;
    right:    0px;
    background-image: URL("skins/default/imgs/rhandle.png");
    width: 10px;
    height: 10px;
    z-index: 10;
    cursor: nwse-resize;
}

#miniLauncher {
    position: fixed;
    top:      1px;
    left:     50px;
}

#miniLauncher img {
    opacity: 0.8;
    width:   19px;
    height:  19px;
    margin-left: 3px;
}

#miniLauncher img:hover {
    opacity: 1.0;
    cursor:  pointer;
}

#desktop {
    position:         fixed;
    top:              0px;
    left:             0px;
    z-index:          1;
    width:            100%;
    height:           100%;
    box-shadow:       inset 0px 0px 4px #000;
    background-image: URL("skins/default/imgs/wallpaper.png");
    background-size:  100% 100%;
}

#menuButton {
    position: fixed;
    top:      0px;
    left:     0px;
    height:   22px;
    z-index:  4;
}

#mainMenu {
    display:    none;
    z-index:    3;
    position:   fixed;
    top:        22px;
    left:       0px;
    width:      450px;
    height:     350px;
    box-shadow: 0px 0px 4px #000;
    background-color:           rgba(0, 0, 0, 0.8);
}

#mainMenu ul {
    top:        5px;
    left:       5px;
    right:      200px;
    bottom:     5px;
    overflow-Y: scroll;
    overflow-X: hidden;
    position:   absolute;
}

#mainMenu li {
    width:          100%;
    color:          #e3e3e3;
    display:        block;
    padding-top:    8px;
    padding-bottom: 8px;
    font-size:      16px;
}

#mainMenu li:hover {
    cursor:           pointer;
    background-image: URL("skins/default/imgs/panel_bg.png");
    background-size:  100% 100%;
}

#setup {
    display:          none;
    width:            480px;
    padding:          10px;
    position:         fixed;
    top:              100px;
    left:             calc(50% - 250px);
    z-index:          101;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow:       0px 0px 10px #000;
}

#setupBottom {
    width: 100%;
}

#setupProgress {
    width: 380px;
}

#overlay {
    display:  none;
    position: fixed;
    top:      0px;
    left:     0px;
    width:    100%;
    height:   100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:  100;
}
