button {
    appearance:         none;
    -moz-appearance:    none;
    -webkit-appearance: none;
    -ms-appearance:     none;
    -o-appearance:      none;
    outline: none;
    border:  none;
    padding: none;
    margin:  none;
}

input {
    appearance:         none;
    -moz-appearance:    none;
    -webkit-appearance: none;
    -ms-appearance:     none;
    -o-appearance:      none;
    outline: none;
    border:  none;
    padding: none;
    margin:  none;
}
